<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">DOG HOTEL</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/">INÍCIO</a></li>
        <li class="{% if page.url == '/endereco/' %}active{% endif %}"><a href="{{site.baseurl}}/endereco">ENDEREÇO</a></li>
        <li class="{% if page.url == '/contato/' %}active{% endif %}"><a href="{{site.baseurl}}/contato">CONTATO</a></li>
      </ul>
    </nav>
  </div>
</div>
