<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cuidador de animais em Apucarana">
  <meta name="author" content="ConTTudOweb">
  <meta name="keywords" content="dog hotel, hospedagem para cães apucarana, hospedagem apucarana,
  cuidador de animais,caes apucarana, cachorro apucarana ,apucarana, paraná, norte do paraná,
  pets apucarana, empresa apucarana">
  <!--<link rel="icon" href="{{ '/assets/img/icone.png' | prepend: site.baseurl }}">-->

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ '/assets/img/site.webmanifest' | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ '/assets/img/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="{{ site.theme_color }}">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <title>{{ site.title }} | {{ page.title|default:"Hospedagem para cães Apucarana" }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ '/assets/css/ie10-viewport-bug-workaround.css' | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="{{ '/assets/js/ie8-responsive-file-warning.js' | prepend: site.baseurl }}"></script><![endif]-->
  <!--<script src="{{ '/assets/js/ie-emulation-modes-warning.js' | prepend: site.baseurl }}"></script>-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
