<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Cuidador de animais em Apucarana">
  <meta name="author" content="ConTTudOweb">
  <meta name="keywords" content="dog hotel, hospedagem para cães apucarana, hospedagem apucarana,
  cuidador de animais,caes apucarana, cachorro apucarana ,apucarana, paraná, norte do paraná,
  pets apucarana, empresa apucarana">
  <!--<link rel="icon" href="{{ '/assets/img/icone.png' | prepend: site.baseurl }}">-->

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ '/assets/img/site.webmanifest' | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ '/assets/img/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="{{ site.theme_color }}">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
  <meta name="theme-color" content="{{ site.theme_color }}">

  <title>{{ site.title }} | {{ page.title|default:"Hospedagem para cães Apucarana" }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>
